@import variables
@import reset
@import body
@import footer
@import laBanda

/*section
    h2
        text-align: center
    div
        display: flex
        text-align: center
        justify-content: center
        img
            max-width: 100%

       



