*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    overflow-x: hidden    

section
    h2
        text-align: center
    div
        display: flex
        text-align: center
        justify-content: center
        img
            max-width: 100%

       



footer
    border: box
    display: flex
    justify-content: center
    i
        font-size: 2.2rem
        hover 
            transform: scale (2, 2)

